.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.rowcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h2 {
    margin-top: 10px;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    .card p{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    
}